.paticka__obsah {
    max-width: $sirka-obsahu;
	margin: 0 auto;
    padding: $mezera-od-okraju;
    display: grid;
    grid-template-columns: 1fr 1fr;

    &-podobne ul {
        padding-left: 0;
    }

    &-podobne li {
        list-style-type: none;
    }

    &-podobne li a {
        color: rgb(65, 64, 64);
        text-decoration: none;
    }

    @media (max-width: $breakpoint-mobil) {
        grid-template-columns: 1fr;
    }
}