<footer class="paticka">
    <div class="paticka__obsah">
        <div class="paticka__obsah-podobne">
            <h3>Podobné weby</h3>
                <ul>
                    {% for odkaz in podobneWeby %}
                        <li><a href="{{ odkaz.adresa }}">{{ odkaz.nazev }}</a></li>
                    {% endfor %}
                </ul>
        </div>
        <div class="paticka__obsah-podobne">
            <h3>Obecné</h3>
                <ul>
                    <li><a href="/puvod-dat/">Původ dat</a></li>
                    <li><a href="https://github.com/Czechitas-podklady-WEB/Cviceni-Eleventy-filmy">Zadání úkolu</a></li>
                    <li><a href="https://www.11ty.dev/">Eleventy</a></li>
                </ul>
        </div>
    </div>
</footer>