.film {
	max-width: $sirka-obsahu;
	margin: 0 auto;
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-top: 20px;
    padding: $mezera-od-okraju;

    @media (max-width: $breakpoint-tablet) {
        grid-template-columns: 1fr;
    }

    &-levy-sloupec {
        margin-right: 20px;

        h2 {
            margin-top: 0;
        }
    }

    &-pravy-sloupec img {
        max-width: 100%;
        height: auto;
    }

    &-podrobnosti {
        display: grid;
        grid-template-columns: 100px 1fr;
    }

    &-podrobnosti p {
        margin: 5px 5px 5px 0px;  
    }

    &-data {
        font-weight: bold;
    }

    &-autor {
        font-style: italic;
        color: $doplnkova-barva;
    }

}

