html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	line-height: 1.4;
}

.main {
	max-width: $sirka-obsahu;
	margin: 0 auto;
	padding: $mezera-od-okraju;

	&__seznam {
		padding-left: 20px;
	}

	&__polozka {
		color: $doplnkova-barva;
	}

	&__polozka a {
		text-decoration: none;
	}
}

.puvod-dat {
	max-width: $sirka-obsahu;
	margin: 0 auto;
	padding: $mezera-od-okraju;
}
