---
layout: zakladni
pagination:
  data: filmy
  size: 1
  alias: film
permalink: "/film/{{ film.nazev | slug }}/"
---

<div class="film">
  <div class="film-levy-sloupec">
    <h2>{{ film.nazev }}</h2>
      <div class="film-podrobnosti">
        <p class="film-data">Rok:</p><p>{{ film.rok }}</p>
        <p class="film-data">Země:</p><p>{{ film.zeme | join(', ') }}</p>
        <p class="film-data">Žánr:</p><p>{{ film.zanr | join(', ') }}</p>
        <p class="film-data">Délka:</p><p>{{ film.delka }} minut</p>
      </div>

    <div class="film-obsah">
        <h3>Obsah</h3>
          <p class="film-obsah__popis">{{ film.obsah.text }}

            {% if film.obsah.autor.odkaz %}
              <a href="{{ film.obsah.autor.odkaz }}" class="film-autor">({{ film.obsah.autor.jmeno }})</a>
            {% else %}
              <span class="film-autor">({{ film.obsah.autor.jmeno }})</span>
            {% endif %}

          </p> 
      </div>
  </div>

    <div class="film-pravy-sloupec">
      <img src="{{ film.plakat.url }}" alt="plakát {{ film.nazev }}"/>
      <h3>Hodnocení</h3>
        {% include "hodnoceni.njk" %}

        {% set filmy = film.souvisejici %} 
        {% if filmy | length > 0 %}
          
          <h3>Související filmy</h3>
            <ul class="main__seznam">
              {% for film in filmy %}
                  <li class="main__polozka"><a href="/film/{{ film.nazev | slug }}">{{ film.nazev }}</a></li>
              {% endfor %}
            </ul>
    
      {% endif %} 
    </div>
</div>