---
layout: zakladni
---
<div class="main">
    <h1>Všechny</h1>

    <ul class="main__seznam">
        {% for film in filmy %}
            <li class="main__polozka"><a href="/film/{{ film.nazev | slug }}">{{ film.nazev }}</a></li>
        {% endfor %}
    </ul>
</div>

