---
layout: zakladni
---

<h1>Původ dat</h1>

<p>
Data byla převzata z webu www.csfd.cz za účelem využití jako zkušební obsah pro výuku práce s nástrojem Eleventy. Smyslem fiktivního webu FILMY.cz není konkurovat podobným filmovým databázím včetně csfd.cz.
</p>


